.jfButton{
    min-width: 100px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background: #141414;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    z-index: 999;
    &-inVisible{
        display: none;
    }
}