.jfForms{
    border-radius: 2em;
    width:330px;
    height: 250px;
    margin:10px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    box-shadow: 10px 5px 10px #888888;    
    overflow: hidden;    
    text-overflow: ellipsis;
    position: relative;
    &-jfImage{      
        border-radius: 2em;        
        width:350px;
        height: 270px;  
        background-repeat: no-repeat;
        background-size: 350px 270px;
        position: relative;
        margin:30px;
    }
    .contentText{        
        text-align: center;
        color: black;
    } 
    &-title{
        font-weight: bold;
        display: inline-block;
        position: absolute;
        font-size: 100px;
        margin: 50px;

    }
    &-information{    
        padding: 30px;
        font-size: 20px;
        font-weight: bold;        

    }
}