.jfHeader{
    border-bottom: 1px solid black;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
    overflow: hidden;
    background-color: #f1f1f1;
    &-logo-title{
        text-decoration: none;
        color: black;
        display: inline;
        position: relative;
        float: left;
        padding: 0px 0px 0px 20px;
        font-size: 32px;
    }
    &-logo{
        text-decoration: none;
        color: black;
        display: inline;
        position: relative;
        top: 15px;
        font-size: 32px;
    }
    &-title{
        margin: 20px;
        padding: 20px 30px;
        color: white;
        border-radius: 20px;
        position: relative;        
        display: inline;
        float: right;
        background-color: #1e90ff;
    }
    
}