.jfRightSideBar{
    width: 20%;
    height: 100%;
    position: absolute;
    display: inline;
    top: 100px;
    right: 0;
    left: 80%;
    bottom: 0;
    &-item{        
        display: block;
        text-decoration: none;
        color: #000;
        border: 1px solid grey;
        background: #ffffff;
        cursor: pointer;
        height: 60px;
        &:hover{
            box-shadow: -1px 0 8px rgb(0 0 0 / 16%);
        }
    }
    &-title{
        text-align: center;
        line-height: 2.6;
        font-weight: bold;
        font-size: 22px;
        border: 1px solid grey;
    }
    &-pad{
        padding: 20px;
    }
    &-button{
        float: right;
        margin: 5px;        
        width: 50px;
        height: 50px;
    }
}


