.jfSideBar{
    width: 20%;
    height: 100%;
    position: absolute;
    display: inline;
    top: 100px;
    left: 0;
    bottom: 0;

    &-Item{
        display: block;
        text-decoration: none;
        color: #000;
        margin: 12px;
        border: 2px solid black;
        background: linear-gradient(
            90deg,
            rgb(39, 176, 255) 25%,
            rgb(0, 232, 236) 75%
          );
        cursor: pointer;
    }

}