.jfSideBar{
    width: 20%;
    height: 100%;
    position: absolute;
    display: inline;
    top: 100px;
    left: 0;
    right: 80%;
    bottom: 0;

    &-item{
        display: block;
        text-decoration: none;
        color: #000;
        margin: 12px;
        border: 2px solid black;
        border-radius: 10px;
        background: linear-gradient(
            90deg,
            rgb(39, 176, 255) 25%,
            rgb(0, 232, 236) 75%
          );
        cursor: pointer;
        &-pad{
          padding-left: 10px;
        }
    }
    &-derelict{
        display: block;
        text-decoration: none;
        color: #000;
        margin: 12px;
        border: 2px solid black;
        border-radius: 10px;
        background: linear-gradient(
            90deg,
            rgb(246, 84, 255) 25%,
            rgb(244, 190, 247) 75%
          );
        cursor: pointer;
    }
    

}