.jfuserLoginInput{
    display: inline-block;
    margin: 15px;
     border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: transparent;
    outline: none;
    
}
.userLoginLabel{
    color: #000;
    display: inline-block;
    
}