@import "variable";
@import "subInformation";
@import "header";
@import "sideBar";
@import "mainSection";
@import "dropDown";
@import "modal";
@import "button";
@import "container";
@import "userLoginInput";
@import "rightSideBar";
@import "ownerInformationModal";
body{
    font-family: 'Roboto', sans-serif;
}
.OutlineCheck{
    width: 80%;
    height: 100%;
    padding-left: 33px;
    color: #4EB100;
}
.success{
    color: #56cfff;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
.answer{
  width: 400px;
}
#headerLine:before {
  content: "";
  display: table;
  background: #C3CAD8;
  width: 1px;
  height: 44px;
  position: relative;
  top: 21px;
  right: 15px;
  float: right;
}
//Alert Message
.alert {
    margin-top: 10px;
    font-size: 13px;
    border-radius: 10px;
    text-align: center;
    background-color: #f44336;
    color: white;
  }
  //scroll bar
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }